<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
{% load static %}
  		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{% static 'adventure-master/img/fav.png' %}">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>{% block title %}BiciRutas{% endblock %}</title>
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->

			<link rel="stylesheet" href="{% static 'adventure-master/css/linearicons.css' %}">
			<link rel="stylesheet" href="{% static 'adventure-master/css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'adventure-master/css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'adventure-master/css/magnific-popup.css' %}">
			<link rel="stylesheet" href="{% static 'adventure-master/css/animate.min.css' %}">
			<link rel="stylesheet" href="{% static 'adventure-master/css/owl.carousel.css' %}">
			<link rel="stylesheet" href="{% static 'adventure-master/css/main.css' %}">

			<script src="{% static 'adventure-master/js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="{% static 'adventure-master/js/vendor/bootstrap.min.js' %}"></script>
			<script src="{% static 'adventure-master/js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'adventure-master/js/jquery.magnific-popup.min.js' %}"></script>	
			<script src="{% static 'adventure-master/js/owl.carousel.min.js' %}"></script>			
			<script src="{% static 'adventure-master/js/jquery.sticky.js' %}"></script>
			<script src="{% static 'adventure-master/js/slick.js' %}"></script>
			<script src="{% static 'adventure-master/js/waypoints.min.js"></script>		
{% block script %}
			<script src="{% static 'adventure-master/js/jquery.counterup.min.js' %}"></script>
{% endblock %}		
			<script src="{% static 'adventure-master/js/main.js' %}"></script>	
	
		</head>
{% block tabla %}
	<style>

	* {font-family: Helvetica Neue, Arial, sans-serif; }
	table {text-align: center; }
	table { border-collapse: collapse;  width: 100%; margin: 10% auto 5rem;}
	th, td { padding: 1rem; font-size: 1rem; }
	tr {background: hsl(50, 50%, 80%);  }
	tr, td { transition: .4s ease-in; } 
	tr:first-child {background: hsla(12, 10%, 40%, 0.5); }
	tr:nth-child(even) { background: hsla(50, 50%, 80%, 0.7); }
	td:empty {background: hsla(50, 25%, 60%, 0.7); }
	tr:hover:not(#firstrow), tr:hover td:empty {background: ; pointer-events: visible;}
	tr:hover:not(#firstrow) { transform: scale(1.2); font-weight: 500; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}
	</style>
{% endblock %}
		<body>
			<!-- start banner Area -->
			<section class="banner-area" id="home">
				<!-- Start Header Area -->
				<header class="default-header">
					<nav class="navbar navbar-expand-lg  navbar-light">
						<div class="container">
							  <a class="navbar-brand" href="">
							  </a>
							  <a class="navbar-brand" href="">
							  	{{user.username | upper}} Bienvenido a la pagina web de BiciRutas
							  </a>
							  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							    <span class="text-white lnr lnr-menu"></span>
							  </button>

							  <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
							    <ul class="navbar-nav">
							    	{% block nav %}
									<li><a href="#home">Inicio</a></li>
									<li><a href="#about">Nosotros</a></li>									
									<li><a href="#secvice">Bicicletas</a></li>
									<li><a href="#contact">Contactos</a></li>
									<!-- Dropdown -->
								    
								    {% endblock %}
							    </ul>
							  </div>						
						</div>
					</nav>
				</header>
				<!-- End Header Area -->				
			</section>
			<section class="default-banner active-blog-slider">
{% block fondo %}
						<div class="item-slider relative" style="background: url({% static 'adventure-master/img/slider2.jpg' %});background-size: cover;">
{% endblock %}
						<div class="overlay" style="background: rgba(0,0,0,.3)"></div>
						<div class="container">
							<div class="row fullscreen justify-content-center align-items-center">
								<div class="col-md-10 col-12">
									<div class="banner-content text-center">
										{% block letras %}
										<h1 class="text-uppercase text-white">BiciRutas</h1>
										<p class="text-white">Una pagina en donde puedes asistir a las diferentes rutas que se dan dia a dia. <br>
										<a href="login/" class="text-uppercase header-btn">Iniciar Sesion</a>
										{% endblock %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			<!-- Start about Area -->
{% block parteuno %}
			<section class="section-gap info-area" id="about">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-40 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Porque elegir esta pagina para mis rutas?</h1>
							</div>
						</div>
					</div>					
					<div class="single-info row mt-40">
						<div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
							<div class="info-thumb">
								<img src="{% static 'adventure-master/img/about-img.jpg' %}" class="img-fluid" alt="">
							</div>
						</div>
						<div class="col-lg-6 col-md-12 no-padding info-rigth">
							<div class="info-content">
								<h2 class="pb-30">Somos un grupo <br>
								de amigos<br>
								con los que puedes contar<br>
								para muchas rutas</h2>
								
								<p>
									En nuestro grupo tenemos siempre a un coordinador quien encabeza todas las rutas, estableciendo el camino previamente indicado, y al final de todos se ubica otro companero el cual se encarga de vigilar que nadie quede atras.

								</p>
								<br>
								<p>
									En el grupo siempre ponemos como parte primordial la amistad, siempre que alguien necesite una "mano amiga" se le apoyara con todo loq ue nos sea posible, con el fin de no dejar solo a un companero.		
								</p>
								<br>
								</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End about Area -->
{% endblock %}

			<!-- Start project Area -->
{% block partedos %}
			
			<!-- End project Area -->
{% endblock %}
			<!-- Start feature Area -->
{% block cuadros %}
			<section class="feature-area section-gap" id="secvice">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Tipos de bicicletas</h1>
								<p>De clic en el nombre para er un ejemplo</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4 col-md-6 ">
							<div class="single-feature mb-30">
								<div class="title d-flex flex-row pb-20">
									<h4><a href="https://www.rutadeporte.cl/18932-large_default/bicicleta-mtb-mongoose-teocali-comp-aro-275-2020.jpg">Montanera (MTB)</a></h4>
								</div>
								<p>
									Es un tipo de bicicleta que permite andar por la mayoria de terrenos caracterizandoce por tener una doble suspension.
								</p>							
							</div>							
						</div>
						<div class="col-lg-4 col-md-6 ">
							<div class="single-feature mb-30">
								<div class="title d-flex flex-row pb-20">
									<h4><a href="https://www.costco.com.mx/medias/sys_master/products/h62/h65/17495154917406.jpg">Ruta (Urbana)</a></h4>
								</div>
								<p>
									Esta bicicleta es apropiada para dar un paseo por la ciudad, por lo general no cuenta con ninguna suspension.
								</p>							
							</div>							
						</div>
						<div class="col-lg-4 col-md-6 ">
							<div class="single-feature mb-30">
								<div class="title d-flex flex-row pb-20">
									<h4><a href="https://www.dhresource.com/600x600/f2/albu/g6/M01/43/AF/rBVaR1tWliKATJ9HAAUsNR8Fh20418.jpg">Hibrida</a></h4>
								</div>
								<p>
									Esta bicicleta permite andar por la mayoria de caminos, dependiendo mucho de la experiencia de quien la maneja, por lo general solo lleva una suspension en la parte delantera.
								</p>							
							</div>							
						</div>
						<div class="col-lg-4 col-md-6 ">
							<div class="single-feature">
								<div class="title d-flex flex-row pb-20">
									<h4><a href="https://www.tiendaenel.cl/2128/bicicleta-electrica-volmark-metro-plegable-aro-14.jpg">Electrica</a></h4>
								</div>
								<p>
									Existen bicicletas electricas ya sea para ciudad o para montana, se caracteriza por tener un motor en los pedales.
								</p>							
							</div>							
						</div>
						<div class="col-lg-4 col-md-6 ">
							<div class="single-feature">
								<div class="title d-flex flex-row pb-20">
									<h4><a href="https://content.retto.com/products/bicicleta-bmx-haro-interstate-freestyle___20188928-101_G1.jpg">BMX</a></h4>
								</div>
								<p>
									Bicicleta propia para hacer acrobacias en lugares especificos, suelen ser pequenias y rigidas.
								</p>							
							</div>							
						</div>
						<div class="col-lg-4 col-md-6 ">
							<div class="single-feature">
								<div class="title d-flex flex-row pb-20">
									<h4><a href="https://fatbike.top/wp-content/uploads/2018/05/Mejor-Fatbike-2018-1024x683.jpg">Fat Bike</a></h4>
								</div>
								<p>
									Es una bicicleta que sirve mucho para realizar descenso enmontanas, se caracteriza por tener unas llantas gruesas.
								</p>							
							</div>							
						</div>																					
					</div>
				</div>	
			</section>
			<!-- End feature Area -->
{% endblock %}
			<!-- Start faq Area -->
{% block frase %}
			<section class="faq-area section-gap" id="faq" style="background-color: #dfc737">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
							</div>
						</div>
					</div>							
					<div class="row d-flex align-items-center">
						<div class="counter-left col-lg-3 col-md-3">
							<div class="single-facts">
							</div>
							<div class="single-facts">
							</div>
							<div class="single-facts">
							</div>												
							<div class="single-facts">
								<h2 class="counter"></h2>
							</div>

						</div>	
							<h3>“La excelencia es un hábito. Tú eres lo que repites en muchas ocasiones”.</h3>
							___Shaquille O’Neal							
					</div>
				</div>
			</section>
			<!-- End faq Area -->
{% endblock %}
			<!-- Start Video Area -->
{% block video %}
			<section class="video-area pt-40 pb-40">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="video-content">
						<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn"><img src="{% static 'adventure-master/img/play-btn.png' %}" alt=""></a>
						<div class="video-desc">
							<h3 class="h2 text-white text-uppercase">Being unique is the preference</h3>
							<h4 class="text-white">Youtube video will appear in popover</h4>
						</div>
					</div>
				</div>
			</section>
			<!-- Start Video Area -->

			
			<!-- Start logo Area -->
			<section class="logo-area">
				<div class="container">
					<div class="row">
						
					</div>
				</div>	
			</section>
			<!-- End logo Area -->
{% endblock %}			
{% block correo %}		
			<!-- start contact Area -->		
			<section class="contact-area section-gap" id="contact">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Si necesitas mas informacion comunicate con nosotros</h1>
								<p>Puedes llamar a cualquier a de estos numeros:</p>
							</div>
						</div>
					</div>										
					<h2>Presindente: 0000000000<br>Vicepresidente: 9999999999999</h2>
				</div>	
			</section>
			<!-- end contact Area -->		
{% endblock %}
			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
								</p>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            		<p class="footer-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | UNL <i class="fas fa-address-card" aria-hidden="true"></i> por <a href="https://colorlib.com" target="_blank">DANIEL</a></p>
            		<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Newsletter</h6>
								<p>Stay update with our latest</p>
								<div class="" id="mc_embed_signup">

										<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">

										<div class="d-flex flex-row">

											<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">


				                            	<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
				                            	<div style="position: absolute; left: -5000px;">
													<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
												</div>
				                          	
											<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
										</div>		
										<div class="info"></div>
										</form>
								</div>
								</div>
						</div>						
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Follow Us</h6>
								<p>Let us be social</p>
								<div class="footer-social d-flex align-items-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>							
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->	
		</body>
</html>