{% extends 'pagina_principal.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}Lista de rutas{% endblock %}</title>
</head>
<style type="text/css">

{% block script %}
{% endblock %}	
</style>
<body>
{% block nav %}
<li><a href="/cliente">regresar</a></li>
{% endblock %}
{% block fondo %}
	<div class="item-slider relative" style="background: url({% static 'adventure-master/img/slider1.jpg' %});background-size: cover; height: 900px">
{% endblock %}
{% block letras %}
<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
.container {
	max-width:600px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:50%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
</style>
	<div class="container" >
<form  id="contact" method="POST">{% csrf_token %}
			<label style="visibility: hidden;"> {{formulario}}</label>
			<center><table border="1" class="table" style="background-color: black">
				<thead class="thead-dark">
					<tr id="firstrow" ><th colspan="5"><center>Detalles de la ruta</center></th></tr>
				<tr style="background-color: white">
				  <td>Coordinador:</td>
				  <td> {{coordinador.nombres}} {{coordinador.apellidos}}</td>
				</tr>

				<tr style="background-color: white">
				  <td>Distancia:</td>
				  <td>{{rut.distancia}} Km</td>
				</tr>

				<tr style="background-color: white">
				  <td>Clima:</td>
				  <td>{{rut.ProbabilidadClima}}</td>
				</tr>

				<tr style="background-color: white">
				  <td>Fecha:</td>
				  <td>{{rut.fecha}}</td>
				</tr>

				<tr style="background-color: white">
				  <td>Hora de inicio:</td>
				  <td>{{rut.hora_inicio}}</td>
				</tr>
				<tr style="background-color: white">
				  <td>Hora final:</td>
				  <td>{{rut.hora_final}}</td>
				</tr>
				</table></center>
			<hr>
			<button type="submit" style="margin-right: 25%"  > Registrarme </button>
			<a href="/cliente/lista_rutas/?bici={{bici.bicicleta_id}}">Regresar</a>
</form>
		
	</div>
{% endblock %}
{% block parteuno %}
{% endblock %}

{% block partedos %}
{% endblock %}

{% block cuadros %}
{% endblock %}

{% block frase %}
{% endblock %}

{% block video %}
{% endblock %}

{% block correo %}
{% endblock %}
</html>
</body>
