{% extends 'pagina_principal.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}Registro de bicicleta{% endblock %}</title>
</head>
<style type="text/css">

{% block script %}
{% endblock %}	
</style>
<body>
{% block nav %}
<li><a href="/cliente">Inicio</a></li>
{% endblock %}
{% block fondo %}
	<div class="item-slider relative" style="background: url({% static 'adventure-master/img/slider1.jpg' %});background-size: cover; height: 900px">
{% endblock %}
{% block letras %}
<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
.container {
	max-width:1000px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:50%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

</style>
	<div class="container" >
		<form  id="contact" >{% csrf_token %}
			<table border="1" class="table" style="background-color: black">
				<thead class="thead-dark">
					<tr id="firstrow" ><th colspan="5"><center>Bicicletas registradas</center></th></tr>
					<tr id="firstrow">
						<th>Chasis</th>
						<th>Nro_aro</th>
						<th>Marca</th>
						<th>Tipo</th>
					</tr>
				</thead>
				{% for c in bicicletas %}
				<tr style="background-color: white">
					<td>{{c.chasis}}</td>
					<td>{{c.nro_aro}}</td>
					<td>{{c.marca}}</td>
					<td>{{c.tipo}}</td>
				</tr>
				{% endfor %}
				
			</table>
			<hr>
				<a href="/cliente"  >Regresar</a>
		</form>
		
	</div>
	
{% endblock %}
{% block parteuno %}
{% endblock %}

{% block partedos %}
{% endblock %}

{% block cuadros %}
{% endblock %}

{% block frase %}
{% endblock %}

{% block video %}
{% endblock %}

{% block correo %}
{% endblock %}
</html>
</body>
