{% extends 'pagina_principal.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Principal{% endblock %}</title>
</head>
<body>
{% block nav %}
<li><a href="/cliente">Inicio</a></li>
<li><a href="#registros">Registros</a></li>
					<!-- Dropdown -->
<li class="dropdown">
    <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Agregar</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/cliente/registrar_bicicleta">Cliente</a>
        <a class="dropdown-item" href="/cliente/registrar_ruta">Coordinador</a>
    </div>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Cuenta</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Salir</a>
    </div>
</li>
{% endblock %}

{% block script %}
{% endblock %}	

{% block fondo %}
<div class="item-slider relative" style="background: url({% static 'adventure-master/img/slider3.jpg' %});background-size: cover ; height: 900px">
{% endblock %}

{% block letras %}



<form method="GET">
<table border="1" class="table" style="background-color: black">
				<thead class="thead-dark">
					<tr id="firstrow" ><th colspan="5"><input name="buscarCliente" type="text" placeholder="Buscar cliente..."> <button type="submit">Buscar</button></th></tr>
					<tr id="firstrow" ><th colspan="5"><center>CLIENTES</center></th></tr>
					<tr id="firstrow">
						<th>Cedula</th>
						<th>Apellidos</th>
						<th>Nombres</th>
						<th>Celular</th>
						<th>Mas</th>
					</tr>
				</thead>
			{% for c in lista %}
				<tr style="background-color: white">
					<td><a href="modificar_cliente?cedula={{c.cedula}}">{{c.cedula}}</a></td>
					<td>{{c.apellidos}}</td>
					<td>{{c.nombres}}</td>
					<td>{{c.celular}}</td>
					<td><a href="/cliente/ver_bicicleta?cedula={{c.cedula}}">Datos</a> /
						<a href="/cliente/eliminar_cliente?cedula={{c.cedula}}">Eliminar</a></td>
				</tr>
			{% endfor %}
</table>
</form>
<hr>
<form method="GET">
<table border="1" class="table" style="background-color: black">
				<thead class="thead-dark">
					<tr id="firstrow" ><th colspan="5"><input name="buscarCoordinador" type="text" placeholder="Buscar coordinador..."> <button type="submit">Buscar</button></th></tr>
					<tr id="firstrow"><th colspan="5"><center>COORDINADORES</center></th></tr>
					<tr id="firstrow">
						<th>Cedula</th>
						<th>Apellidos</th>
						<th>Nombres</th>
						<th>Celular</th>
						<th>Mas</th>
					</tr>
				</thead>
			{% for n in listaC %}
				<tr style="background-color: white">
					<td><a href="modificar_coordinador?cedula={{n.cedula}}">{{n.cedula}}</a></td>
					<td>{{n.apellidos}}</td>
					<td>{{n.nombres}}</td>
					<td>{{n.celular}}</td>
					<td><a href="/cliente/ver_ruta?cedula={{n.cedula}}">Datos</a> /
						<a href="/cliente/eliminar_coordinador?cedula={{n.cedula}}">Eliminar</a></td>
				</tr>
			{% endfor %}
</table>
</form>
{% endblock %}

{% block parteuno %}
{% endblock %}

{% block partedos %}
{% endblock %}

{% block frase %}
{% endblock %}

{% block cuadros %}

{% endblock %}
{% block video %}
{% endblock %}
{% block correo %}
{% endblock %}
</body>
</html>

