
{% extends 'pagina_principal.html' %}
{% load static %}
{% block script %}
{% endblock %}	
{% block nav %}
<li><a href="/cliente">Inicio</a></li>
{% endblock %}
{% block fondo %}
	<div class="item-slider relative" style="background: url({% static 'adventure-master/img/slider1.jpg' %});background-size: cover; height: 900px">
{% endblock %}
{% block letras %}
	<div class="container" >
		<h3 style="color: white">Su rol no le permite acceder <a type="link" href="/cliente" style="color :red"> Aceptar</a> </h3>
		
	</div>
	
{% endblock %}
{% block parteuno %}
{% endblock %}

{% block partedos %}
{% endblock %}

{% block cuadros %}
{% endblock %}

{% block frase %}
{% endblock %}

{% block video %}
{% endblock %}

{% block correo %}
{% endblock %}
</html>
</body>
